// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.channel-avatar{
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.13);
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .channel-avatar-overlay{
    display: none;
  }
  .channel-avatar:hover .channel-avatar-overlay{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav.navbar-red{
 background-color: red !important;
  }

  nav .navbar-red a{
    color: white !important;
  }

  nav .navbar-red .dropdown-menu a{
    color: black !important;
  }

  .navbar-brand{
    color: white !important;
  }

  .nav-item{
    color: white !important;
  }
  .nav-link  {
    color: white !important;
  }